# --- Godot specific ---
# Imported resources and cache
.import/
.export/
mono_crash.*

# Export configs (regénérés automatiquement)
export.cfg
export_presets.cfg

# Godot 4 project cache
.godot/

# --- OS specific ---
.DS_Store
Thumbs.db

# --- Editor / temporary files ---
*.swp
*.swo
*.bak
*.tmp
~*

# --- Build outputs ---
# Si tu exportes tes builds dans un dossier "bin" ou "build", ignore-le :
/bin/
/build/
/dist/
